name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: djrc-url-shortener-prod
  REGION: us-central1
  SERVICE_NAME: url-shortener-api
  IMAGE: us-central1-docker.pkg.dev/djrc-url-shortener-prod/url-shortener/api

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Google Auth
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Configure Docker
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

      - name: Build image
        run: docker build --platform linux/amd64 -t ${{ env.IMAGE }}:${{ github.sha}} -t ${{ env.IMAGE }}:latest .

      - name: Push image
        run: |
          docker push ${{ env.IMAGE }}:${{ github.sha }}
          docker push ${{ env.IMAGE }}:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image ${{ env.IMAGE }}:${{ github.sha }} \
            --region ${{ env.REGION }} \
            --platform managed
